<div class="row">
  <% for entry in @entries %>
    <div class="col-3">
      <h4><%= entry["name"] %></h4>
      <img class="img-fluid" src="<%= entry["image"] %>" class="w-full">
      <p><%= entry["body"] %></p>
    </div>
  <% end %>
</div>